<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - EFCoreDemo</title>
</head>
<body>
    <header>
        <h1>ASP.NET Core 9 Demo</h1>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; 2025 - Demo App</p>
    </footer>
</body>
</html>
